name: Test

permissions:
  contents: read
  pages: write
  id-token: write
  packages: read

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.11", "3.12", "3.13"]

    steps:
    - uses: actions/checkout@v4

    - name: ${{ matrix.python-version }} tests
      uses: actions/setup-python@v5
      with:
        python-version: ${{ matrix.python-version }}

    - name: Install package
      run: |
        python -m pip install --upgrade pip setuptools wheel
        python -m pip install .[test]

    - name: Run tests
      run: python -m pytest --pyargs bilby_nr.tests --cov=bilby_nr --cov-report xml --cov-report term:skip-covered --junitxml=pytest.xml

    - name: Coverage report
      run: |
        python -m coverage report --show-missing
        python -m coverage xml -o coverage.xml

    - name: Upload test results
      if: matrix.python-version == '3.11'
      uses: actions/upload-artifact@v4
      with:
        name: coverage
        path: coverage.xml

  docs:
    runs-on: ubuntu-latest
    needs: test

    steps:
    - uses: actions/checkout@v4

    - name: Setup
      uses: actions/setup-python@v5
      with:
        python-version: 3.11

    - name: Download a single artifact
      uses: actions/download-artifact@v5
      with:
        name: coverage

    - name: Install package
      run: |
        python -m pip install --upgrade pip setuptools wheel
        python -m pip install .[docs]

    - name: Build docs
      run: |
        cd docs
        make clean
        make html
        cd -

    - name: Generate coverage badge
        mv coverage.xml docs/_build/html/
        cd docs/_build/html/
        genbadge coverage --input-file coverage.xml
        cd ../../../
        
    # Upload the build docs as an artifact until we expose the pages
    - name: Upload artifact
      uses: actions/upload-pages-artifact@v3
      with:
        path: docs/_build/html/

  deploy:
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    needs: docs
    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
