name: Test

on:
  push:
    branches: [ main, master ]
  pull_request:
    branches: [ main, master ]

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.11", "3.12"]

    steps:
    - uses: actions/checkout@v4

    - name: ${{ matrix.python-version }} tests
      uses: actions/setup-python@v5
      with:
        python-version: ${{ matrix.python-version }}

    - name: Install package
      run: |
        python -m pip install --upgrade pip setuptools wheel
        python -m pip install pytest pytest-cov
        python -m pip install .

    - name: Run tests
      run: python -m pytest --pyargs bilby_nr.tests --cov=bilby_nr --cov-report xml --cov-report term:skip-covered --junitxml=pytest.xml

    - name: Coverage report
      run: python -m coverage report --show-missing
    - name: Upload test results
      if: always()
      uses: actions/upload-artifact@v4
      with:
        name: pytest-${{ matrix.python-version }}
        path: pytest.xml
